// Fixed top header

header {
  z-index: 10;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  max-width: $break-lg;
  background-color: $black;

  .header-icon {
    height: 32px;
    margin: 10px 0 0 5px;
    transition: 0.3s;

    opacity: 1;
    &.hide {
      opacity: 0;
    }
  }

  @media screen and (max-width: $break-xs) {
  }
}

nav {
  float: right;
  margin-right: 20px;

  ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li.menu-item {
    float: left;
    a {
      display: block;
      padding: 10px 30px;
      text-align: center;
      font-size: 24px;
      color: white;
      text-decoration: none;

      transition-duration: 0.2s;
    }

    &:hover a {
      color: $accent-dark;
    }
  }
  @media screen and (max-width: $break-xs) {
    display: none;
  }
}

@media screen and (max-width: $break-xs) {
  nav.vertical {
    margin: 0;
    display: block;
    align-content: center;
    width: 100%;

    background: linear-gradient(to bottom left, $accent-dark, $accent);
    li.menu-item {
      float: none;
      width: 100%;
      a {
        padding: 25px 30px;
        margin-top: 2px;
        background: $black;
      }
    }
  }
}

.hamburger {
  width: 45px;
  float: right;
  margin-right: 20px;

  .hamburger-line {
    width: 35px;
    height: 4px;
    background-color: $white;
    transition: 0.2s;
    margin: 7px 0;
  }
  &.active {
    .line-1 {
      width: 44px;
      transform: rotate(45deg) translate(3px, 12px);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      width: 45px;
      transform: rotate(-45deg) translate(3px, -12px);
    }
  }
  &:hover .hamburger-line {
    background-color: $accent-dark;
  }

  @media screen and (min-width: $break-xs) {
    display: none;
  }
}
