body {
  font-family: "Work Sans";
  color: $black;
}

h1 {
  font-family: "Oswald";
  font-size: 72px;
  color: $black;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald";
  font-size: 54px;
  color: $black;
  margin-top: 0;
  text-transform: uppercase;
}

h3 {
  font-family: "Oswald";
  font-size: 42px;
  color: $black;
  margin-top: 0;
  text-transform: uppercase;
}

p {
  line-height: 24px;
  font-size: 20px;
  a {
    color: $accent-dark;
    transition: 0.3s;
    &:hover {
      color: $accent;
    }
  }
  &.light {
    font-size: 16px;
    margin: 15px 60px;
    color: $light;
    a {
      color: $light;
    }
  }
  @media screen and (min-width: 1200px) {
    line-height: 28px;
    font-size: 20px;
  }
}
